@import '../_variables.sass'

.wp-block-childress-price-item
    p
        +font-size(20)
        align-items: center
        display: flex
        margin-bottom: 0

    span
        border-bottom: 1px dashed $color-black
        flex: 1
        height: .8em
        margin: 0 10px
        min-width: 25px
